body{
    background-color:#d1d8d8;
}
.Header{
    display: flex;
    justify-content: center;
    justify-self: center;
}
.Section{
    display: flex;
    justify-content: center;
    justify-self: center;
}
.formulario{
    display: flex;
    justify-content: center;
    justify-self: center;

}